{% extends "AppBundle::layout.html.twig" %}
{% block contenuti %}
					<div class="titolo_contenuti">Ultime Attività
					</div>
					<a href="Dettagli_campagna.html">
					<div class="tendina_1"><i>Campagna 1</i><i class="fa fa-flag fa-1x"></i></br>Azienda 1
						<div class="contenuto_tendine"><b>Operatori</b> </br>- Giuliano</br>- Marco</br></br><b>Data inizio:</b> 08/09/2015</br></br>Completamento 100%
							<div class="barre_completamento"></div>
						</div>
					</div></a>
					<a href="Dettagli_campagna.html">
					<div class="tendina_2"><i>Campagna 2</i><i class="fa fa-flag fa-1x"></i></br>Azienda 2
						<div class="contenuto_tendine"><b>Operatori</b> </br>- Giuliano</br>- Marco</br></br><b>Data inizio:</b> 08/09/2015</br></br>Completamento 100%
							<div class="barre_completamento"></div>
						</div>
					</div></a>
					<a href="Dettagli_campagna.html">
					<div class="tendina_3"><i>Campagna 3</i><i class="fa fa-flag fa-1x"></i></br>Azienda 3
						<div class="contenuto_tendine"><b>Operatori</b> </br>- Giuliano</br>- Marco</br></br><b>Data inizio:</b> 08/09/2015</br></br>Completamento 100%
							<div class="barre_completamento"></div>
						</div>
					</div></a>
				</div>

{% endblock %}