{% extends "AppBundle::layout.html.twig" %}
{% block contenuti %}

				<div class="titolo_contenuti">Operatori
					<a href="Nuova_operatore_1.html"><nav class="aggiungi_elemento">Aggiungi un operatore</nav></a>
				</div>
					<div class="informazioni_operatore cf">
						<div class="profilo_operatore">Profilo</div>  
						<div class="assegna_contatti_operatore">Assegna contatti</div>
						<div class="pausa_operatore">Sospendi</div>
						<div class="rimuovi_operatore">Rimuovi</div>
					</div>	
					<nav class="contenitore_elenco_operatori">
					
						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><a href="Profilo_operatore.html"><i class="fa fa-user fa-11x"></i></a></div>
								<div class="nomeEcognome"><i>Cognome</br>Nome</i></div>
								
									<div class="contenuto_tendine"><p></p></div>
										<div class="contenitore_icone">
											<div class="icona_rimuovere"><a href="#"><i class="fa fa-trash-o fa-1x"></i></a></div>
											<div class="icona_pausa"><a href="------------"><i class="fa fa-pause fa-1x"></i></a></div>
											<div class="icona_assegna_contatti"><a href="assegna_contatti_operatore.html"><i class="fa fa-link fa-1x"></i></a></div>
										</div>
								
						</div>

						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><a href="indirizzo pagina profilo"><i class="fa fa-user fa-11x"></i></a></div>
								<div class="nomeEcognome"><i>Cognome</br>Nome</i></div>
								
									<div class="contenuto_tendine"><p></p></div>
										<div class="contenitore_icone">
											<div class="icona_rimuovere"><a href="------------"><i class="fa fa-trash-o fa-1x"></i></a></div>
											<div class="icona_pausa"><a href="------------"><i class="fa fa-pause fa-1x"></i></a></div>
											<div class="icona_assegna_contatti"><a href="--------------"><i class="fa fa-link fa-1x"></i></a></div>
										</div>
								
						</div>

						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><a href="indirizzo pagina profilo"><i class="fa fa-user fa-11x"></i></a></div>
								<div class="nomeEcognome"><i>Cognome</br>Nome</i></div>
								
									<div class="contenuto_tendine"><p></p></div>
										<div class="contenitore_icone">
											<div class="icona_rimuovere"><a href="------------"><i class="fa fa-trash-o fa-1x"></i></a></div>
											<div class="icona_pausa"><a href="------------"><i class="fa fa-pause fa-1x"></i></a></div>
											<div class="icona_assegna_contatti"><a href="--------------"><i class="fa fa-link fa-1x"></i></a></div>
										</div>
								
						</div>

						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><a href="indirizzo pagina profilo"><i class="fa fa-user fa-11x"></i></a></div>
								<div class="nomeEcognome"><i>Cognome</br>Nome</i></div>
								
									<div class="contenuto_tendine"><p></p></div>
										<div class="contenitore_icone">
											<div class="icona_rimuovere"><a href="------------"><i class="fa fa-trash-o fa-1x"></i></a></div>
											<div class="icona_pausa"><a href="------------"><i class="fa fa-pause fa-1x"></i></a></div>
											<div class="icona_assegna_contatti"><a href="--------------"><i class="fa fa-link fa-1x"></i></a></div>
										</div>
								
						</div>

						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><a href="indirizzo pagina profilo"><i class="fa fa-user fa-11x"></i></a></div>
								<div class="nomeEcognome"><i>Cognome</br>Nome</i></div>
								
									<div class="contenuto_tendine"><p></p></div>
										<div class="contenitore_icone">
											<div class="icona_rimuovere"><a href="------------"><i class="fa fa-trash-o fa-1x"></i></a></div>
											<div class="icona_pausa"><a href="------------"><i class="fa fa-pause fa-1x"></i></a></div>
											<div class="icona_assegna_contatti"><a href="--------------"><i class="fa fa-link fa-1x"></i></a></div>
										</div>
								
						</div>

						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><a href="indirizzo pagina profilo"><i class="fa fa-user fa-11x"></i></a></div>
								<div class="nomeEcognome"><i>Cognome</br>Nome</i></div>
								
									<div class="contenuto_tendine"><p></p></div>
										<div class="contenitore_icone">
											<div class="icona_rimuovere"><a href="------------"><i class="fa fa-trash-o fa-1x"></i></a></div>
											<div class="icona_pausa"><a href="------------"><i class="fa fa-pause fa-1x"></i></a></div>
											<div class="icona_assegna_contatti"><a href="--------------"><i class="fa fa-link fa-1x"></i></a></div>
										</div>
								
						</div>

					</nav>
{% endblock %}