<!DOCTYPE html>
<html>
	<head>
		<link href="{{ asset('img/favicon.ico') }}" rel="icon" type="image/ico">
<meta charset = "UTF-8">		
<title>CS Crm</title>
<link href="">
<link href="{{ asset('css/style_Project_Work.css') }}" rel="stylesheet" type="text/css" charset="utf-8"/>
<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" type="text/css">
	</head>
	<body class="body">

	
		
		<div class="contenitore_header_pp_operatore cf">
			<span><i class="fa fa-user fa-11x"></i><i>Contatti Operatore:</i></span><i>  ARMANDO LESTOFANTI</i>
			<div class="titolo_contenuti_sinistra_pp_operatore">Contatti assegnati</div>
				<div class="contenuti_sinistra_pp_contatti_operatore">
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto1</b> ID:01</span></p></div>
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto2</b> ID:02</span></p></div>
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto3</b> ID:03</span></p></div>
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto4</b> ID:04</span></p></div>
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto5</b> ID:05</span></p></div>
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto6</b> ID:06</span></p></div>
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto7</b> ID:07</span></p></div>
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto8</b> ID:08</span></p></div>
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto9</b> ID:09</span></p></div>
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto10</b> ID:10</span></p></div>
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto11</b> ID:11</span></p></div>
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto12</b> ID:12</span></p></div>
					<div><p class="contatto"><input type="checkbox" checked="checked"/><b>contatto13</b> ID:13</span></p></div>
				</div>

			<div class="titolo_contenuti_destra_pp">Contatti Non assegnati</div>
				<div class="contenuti_destra_pp_contatti_operatore">
					<div><p class="contatto"><input type="checkbox"/><b>contatto1</b> ID:11</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto2</b> ID:12</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto1</b> ID:11</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto2</b> ID:12</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto1</b> ID:11</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto2</b> ID:12</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto1</b> ID:11</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto2</b> ID:12</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto1</b> ID:11</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto2</b> ID:12</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto1</b> ID:11</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto2</b> ID:12</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto1</b> ID:11</span></p></div>
					<div><p class="contatto"><input type="checkbox"/><b>contatto2</b> ID:12</span></p></div>
					
				</div>
					<!--<div class="numero_chiamate_operatore">
					 &nbsp&nbsp</br><span><b>&nbsp&nbsp</b></span></br>
					</div>-->

				

				<a href="Admin_operatori.html"><button type="submit" name="annulla_contatti" value="annulla">ritorna</button></a>
				<a href="Admin_operatori.html"><button type="submit" name="assegna_contatti" value="avanti">assegna contatti</button></a>
		</div>



<div class="contenitore_sfondo_pp">



</div>


<!--INSERIRE JQUERY per FAR FUNZIONARE LO SCRIPT-->
	</body>
</html>
