<!DOCTYPE html>
<html>
	<head>
		<link href="{{ asset('img/favicon.ico') }}" rel="icon" type="image/ico">
<meta charset = "UTF-8">		
<title>CS Crm</title>
<link href="">
<link href="{{ asset('css/style_Project_Work.css') }}" rel="stylesheet" type="text/css" charset="utf-8"/>
<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" type="text/css">
	</head>
	<body class="body">

	
		
		<div class="contenitore_header_pp_operatore cf">
			<span><i class="fa fa-flag fa-11x"></i><i> Campagna:</i></span><i> Prima Campagna</i><i><span> &nbsp&nbspAzienda:</i></span><i> Prima Azienda</i>
			<div class="titolo_contenuti_sinistra_pp_operatore">Info</div>
				<div class="contenuti_sinistra_pp_campagna">
				<p class="contatti_chiamati"><b>Contatti chiamati:</b><span>  146</span></p>
				<p class="contatti_da_chiamare"><b>Contatti da chiamare:</b><span>  89</span></p>
				<p class="data_inizio"><b>Data di inizio:</b><span>  16/09/2015</span></p>
				<p class="feedback_negativi"><b>----FEEDBACK NEGATIVI----</b><span>
				<p class="feedback_negativi"><b>Prezzo elevato:</b><span>  12</span></p>
				<p class="feedback_negativi"><b>Scarsa attrattiva:</b><span>  98</span></p>
				<p class="feedback_negativi"><b>Mancanze funzionali:</b><span>  3</span></p>
				<p class="feedback_negativi"><b>Offerta non chiara:</b><span>  2</span></p>
				</div>

			<div class="titolo_contenuti_destra_pp">Operatori Assegnati</div>
				<div class="contenuti_destra_pp_operatore">
					<p>Operatore4</br>Operatore6</br></p>
				</div>
					<div class="numero_chiamate_operatore">
					Tasso di conversione attuale:</br><span><b>27%</b></span></br>
					</div>

				

				<a href="Admin_campagne.html"><button type="submit" name="annulla_operatore" value="annulla">ritorna</button></a>
				<a href="Admin_campagne.html"><button type="submit" name="stampa_report_operatore" value="avanti">stampa report</button></a>
		</div>



<div class="contenitore_sfondo_pp">



</div>


<!--INSERIRE JQUERY per FAR FUNZIONARE LO SCRIPT-->
	</body>
</html>
