<div class="contenitore_menu">
			<!--<p class="home"><a href="admin_Index">HOME</a></p>
			-->
			<p class="campagne"><a href="admin_campagne">CAMPAGNE</a></p>
			<p class="operatori"><a href="admin_operatori">OPERATORI</a></p>
			
		</div>