{% extends "AppBundle::layout_operatori.html.twig" %}

{% block menu %}

		<nav class="contenitore_menu">
			<p class="home"><a href="operatore_index">HOME</a></p>
			<!--<p class="aziende"><a href="http://localhost/PROJECTWORK/Admin_aziende.html">AZIENDE</a></p>
			<p class="contatti"><a href="http://localhost/PROJECTWORK/-----------.html">CONTATTI</a></p>-->
			<p class="campagne"><a href="operatore_campagne_attive">CAMPAGNE ATTIVE</a></p>
<!--			<p class="operatori"><a href="http://localhost/PROJECTWORK/Admin_operatori.html">OPERATORI</a></p>
			<p class="report"><a href="http://localhost/PROJECTWORK/----------.html">REPORT</a></p> -->
			<p class="campagne"><a href="operatore_campagne_passate">CAMPAGNE CONCLUSE</a></p>
		</nav>

{% endblock %}
{% block contenuti %}

					<div class="titolo_contenuti">Ultime Attività
					</div>
					<a href="dettagli_campagna">
					<div class="tendina_1"><i>Christmas</i><i class="fa fa-flag fa-1x"></i></br>Vodafone
						<div class="contenuto_tendine"><b>Data inizio:</b> 08/09/2015</br></br>Chiamate rimanenti 54
							<div class="barre_completamento"></div>
						</div>
					</div></a>
					<a href="/PROJECTWORK/-----------.html">
					<div class="tendina_2"><i>Campagna 2</i><i class="fa fa-flag fa-1x"></i></br>Azienda 3
						<div class="contenuto_tendine"><b>Data inizio:</b> 08/09/2015</br></br>Chiamate rimanenti 24
							<div class="barre_completamento"></div>
						</div>
					</div></a>
					<a href="/PROJECTWORK/-----------.html">
					<div class="tendina_3"><i>Campagna 1</i><i class="fa fa-flag fa-1x"></i></br>Azienda 1
						<div class="contenuto_tendine"><b>Data inizio:</b> 08/09/2015</br></br>Chiamate rimanenti 2
							<div class="barre_completamento"></div>
						</div>
					</div></a>
				

{% endblock %}