{% extends "AppBundle::layout_operatori.html.twig" %}

{% block menu %}

		<nav class="contenitore_menu">
			<p class="home"><a href="operatore_index">HOME</a></p>
			<!--<p class="aziende"><a href="http://localhost/PROJECTWORK/Admin_aziende.html">AZIENDE</a></p>
			<p class="contatti"><a href="http://localhost/PROJECTWORK/-----------.html">CONTATTI</a></p>-->
			<p class="campagne"><a href="operatore_campagne_attive">CAMPAGNE ATTIVE</a></p>
<!--			<p class="operatori"><a href="http://localhost/PROJECTWORK/Admin_operatori.html">OPERATORI</a></p>
			<p class="report"><a href="http://localhost/PROJECTWORK/----------.html">REPORT</a></p> -->
			<p class="campagne"><a href="operatore_campagne_passate">CAMPAGNE CONCLUSE</a></p>
		</nav>

{% endblock %}
{% block contenuti %}
				
			
		
				<div class="titolo_contenuti">Campagne concluse</div>
					<div class="informazioni_operatori_campagne cf">
						<div class="profilo_operatori_campagne">Campagna</div>  
					<div class="campagne_passate">Status</div> 
					</div>	
				<nav class="contenitore_elenco_operatori">
						
						<a href="operatore_visualizza_campagna">
						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><i class="fa fa-flag fa-11x"></i></div>
								<div class="nomeEcognome"><i>Campagna</br>Azienda</i></div>
								<div>
									
										<div class="contenitore_icone">

										<div class="icona_rimuovere"><i class="fa fa-pause fa-1x"></i></div>
										</div>
								</div>

						</div></a>

						<a href="operatore_visualizza_campagna">
						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><i class="fa fa-flag fa-11x"></i></div>
								<div class="nomeEcognome"><i>Campagna</br>Azienda</i></div>
								<div>
									
										<div class="contenitore_icone">

										<div class="icona_rimuovere"><i class="fa fa-pause fa-1x"></i></div>
										</div>
								</div>

						</div></a>

						<a href="operatore_visualizza_campagna">
						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><i class="fa fa-flag fa-11x"></i></div>
								<div class="nomeEcognome"><i>Campagna</br>Azienda</i></div>
								<div>
									
										<div class="contenitore_icone">

										<div class="icona_rimuovere"><i class="fa fa-pause fa-1x"></i></div>
										</div>
								</div>

						</div></a>

						<a href="operatore_visualizza_campagna">
						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><i class="fa fa-flag fa-11x"></i></div>
								<div class="nomeEcognome"><i>Campagna</br>Azienda</i></div>
								<div>
									
										<div class="contenitore_icone">

										<div class="icona_rimuovere"><i class="fa fa-pause fa-1x"></i></div>
										</div>
								</div>

						</div></a>

						<a href="operatore_visualizza_campagna">
						<div class="tendina_1_operatore cf">
								<div class="icona_tendina"><i class="fa fa-flag fa-11x"></i></div>
								<div class="nomeEcognome"><i>Campagna</br>Azienda</i></div>
								<div>
									
										<div class="contenitore_icone">

										<div class="icona_rimuovere"><i class="fa fa-pause fa-1x"></i></div>
										</div>
								</div>

						</div></a>

				</nav>
					
		
		{% endblock %}
