<!DOCTYPE html>
<html>
	<head>
		<link href="{{ asset('img/favicon.ico') }}" rel="icon" type="image/ico">
<meta charset = "UTF-8">		
<title>CS Crm</title>
<link href="">
<link href="{{ asset('css/style_Project_Work.css') }}" rel="stylesheet" type="text/css" charset="utf-8"/>
<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" type="text/css">
	</head>
	<body class="body">

	
		
		<div class="contenitore_header_pp cf">
			<span><i>Creazione Report per Camapagna:</i></span> <i>SELEZIONA CAMPAGNE</i>
			<div class="titolo_contenuti_sinistra_pp">Campagne</div>
				<div class="contenuti_sinistra_pp_selezione_campagne">
				<p class="Lead"><input type="checkbox"/>Campagna 1</p>
				<p class="Lead"><input type="checkbox"/>Campagna 2</p>
				<p class="Lead"><input type="checkbox"/>Campagna 3</p>
				<p class="Lead"><input type="checkbox"/>Campagna 4</p>
				<p class="Lead"><input type="checkbox"/>Campagna 5</p>
				</div>

			<div class="titolo_contenuti_destra_pp"></div>
				<div class="contenuti_destra_pp"></div>
						<a href="Admin_report.html"><button type="submit" name="annulla_report" value="annulla">_____annulla______</button></a>
						<a href="Admin_report.html"><button type="submit" name="avanti" value="avanti">STAMPA REPORT</button></a>
						
						
				</div>
		</div>



<div class="contenitore_sfondo_pp">	



</div>


<!--INSERIRE JQUERY per FAR FUNZIONARE LO SCRIPT-->
	</body>
</html>
